<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8"/>
  <title>Author list</title>
  <link rel="stylesheet" href="../../static/index.css"/>
</head>
<body>
<section>
  {% load crispy_forms_tags %}

  <nav>
    <a href="/">Main Page</a>
    <a href="/books">All Books</a>
    <a href="/authors">All Authors</a>
    <a href="/loans">Late Returns</a>
  </nav>
  <div class="btn__container">
    <button class="btn btn-create">
      <a href="/authors/create">Create New Author</a>
    </button>
  </div>
  <form method="get" action="" class="form-inline line-gap">
    {{ search_form|crispy }}
    <input class="btn btn-secondary" type="submit" value="🔍"/>
  </form>
  {% if author_list %}
  <table class="table">
    <tr>
      <th>ID</th>
      <th>Name</th>
      <th>Update</th>
      <th>Delete</th>
    </tr>
    {% for author in author_list %}
    <tr>
      <td>{{ author.id }}</td>
      <td>{{ author.name }}</td>
      <td>
        <a href="{% url 'authors:author-update' pk=author.id %}">Update</a>
      </td>
      <td>
        <a style="color: red"
           href="{% url 'authors:author-delete' pk=author.id %}"
        >Delete</a>
      </td>
    </tr>
    {% endfor %}
  </table>
  {% else %}
  <p>There are no authors in the service.</p>
  {% endif %}
</section>
</body>
</html>
