<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8"/>
  <title>Authors management</title>
  <link rel="stylesheet" href="../../../static/index.css"/>
</head>
<body>
<section>
  <nav>
    <a href="/">Main Page</a>
    <a href="/books">All Books</a>
    <a href="/authors">All Authors</a>
    <a href="/loans">Late Returns</a>
  </nav>
  <h1>{{ object|yesno:"Update,Create" }} the author</h1>
  <form action="" method="post" novalidate>
    {% csrf_token %} {{ form.as_p }}
    <input type="submit" value="Submit" class="btn btn-primary"/>
  </form>
</section>
</body>
</html>
