{% load crispy_forms_tags %}

<title>Author list</title>
<a href="/authors/create">Create New Author</a>
<form method="get" action="" class="form-inline  line-gap">
  {{ search_form|crispy }}
  <input class="btn btn-secondary" type="submit" value="🔍">
</form>
{% if author_list %}
<table class="table">
  <tr>
    <th>ID</th>
    <th>Name</th>
    <th>Update</th>
    <th>Delete</th>
  </tr>
  {% for author in author_list %}
  <tr>
    <td>
      {{ author.id }}
    </td>
    <td>
      {{ author.name }}
    </td>
    <td>
      <a href="{% url 'authors:author-update' pk=author.id %}">Update</a>
    </td>
    <td>
      <a style="color: red"
         href="{% url 'authors:author-delete' pk=author.id %}">Delete</a>
    </td>
  </tr>
  {% endfor %}
</table>
{% else %}
<p>There are no authors in the service.</p>
{% endif %}
